<% title "admin/index Interne Seite" %>

<h1> Erfolgsverwaltung:</h1>

<div>
  <br>
  <%= link_to "Neuer Erfolg", new_archiv_path %> | 
  <%= link_to "Erfolgs liste", archivs_path %>
  <br>
  <br>
  <%= link_to "Neuer Kategorie", new_category_path %> | 
  <%= link_to "Kategorie liste", categories_path %>
</div>
