<div class="profil-archivments-need-vote">
  <h3>Deine ausstehenden Votes</h3>

  <% if @archivments_need_vote.present? %>
    <% @archivments_need_vote.each do |archivment|  %>
      <%= link_to archivment.name, archivment %> <br>  
    <% end %>
  <% end %>

</div>
