<div class="profil-archivments-done">
  <h3>Deine abgeschlossenen Erfolge</h3>

  <% if @archivments_done.present? %>
    <% @archivments_done.each do |userarchivment| %>
      <%= link_to userarchivment.archiv.name, userarchivment.archiv %> <br>  
    <% end %>
  <% end %>

</div>
