<div class="profil-archivments-done">
  <h3>Deine abgeschlossenen Erfolge</h3>

  <% if @archivments_done.present? %>
    <% @archivments_done.each do |archivment| %>
      <%= link_to archivment.name, archivment %> <br>  
    <% end %>
  <% end %>

</div>
