/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	margin: 0px;
	font: 14px/20px verdana;
}

.main-nav-links {
	padding-left: 10px;
	margin-left: 20%;
}

.main-nav-links a, .main-nav-links {
    color: white;
}

.main-nav-links a {
	text-decoration:none;
}

.main-nav {
    background-color: black;
    padding: 10px;
    position: fixed;
    width: 100%;
}

.main-content {
  	width: 60%;
  	padding: 20px;
  	padding-top: 60px;
  	margin-left: 20%;
  	font-size: 12px;
  	border: 1px solid lightgrey;
  	margin-bottom: 20px;
}

.logged-in-as {
	margin-right:15px;
}

.active-link {
	color: red !Important;
}

