.profil-header {
  margin-bottom: 60px;
  position: relative;
}

.profil-header img, .profil-header h1 {
  float: left;
}

.profil-header h1 {
  line-height: 22px;
  position: relative;
  top: -12px;
  left:5px;
  height:20px;
}

.profil-archivments, .profil {
  min-height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
}

.profil-archivments-done, .profil-archivments-recommended {
  float:left;
  width: 50%;
}